<a href='/home'>home</a> | <a href='/direct_messages/received'>direct messages (<%= @dm_count%>)</a> | <a href='/logout'>logout</a>
<table class="columns" cellspacing="0">
	<tr>
		<td id="content" class="round-left column">
			<div class='wrapper'>
				<h3>
					<% puts request.path_info %>
					<% if request.path_info == '/follows' then %>
						You are following <%= @myself.follows.size %> people.
					<% elsif request.path_info == '/followers' then %>
						You have <%= @myself.followers.size%> followers.
					<% end %>
				</h3>
				<table cellspacing="0" class="doing">
					<tbody>
						<% @myself.follows.each { |follow| %>
						<tr class="vcard person">
						<td class="thumb">
							<a href="/<%= follow.email%>"><img width="48" height="48" src="<%= follow.photo_url%>" class="photo fn"/></a>
						</td>
						<td>
							<strong>
								&nbsp;<a class="url uid" href="/<%= follow.email%>"><span class="nickname"><%= follow.nickname%></span></a>
							</strong> (<%= follow.email%>)
							<div class="person-actions">
								<div>
									<form method="post" action="/follows/<%= @myself.id%>/<%= follow.id%>">
									  <input type="hidden" name="_method" value="delete" />
									  <button class="small remove-button" style="float: right;">remove</button>
									</form>									
									<p style="clear: both;">
									</p>
								</div>
							</div>
						</td>
						</tr>
						<% } if request.path_info == '/follows'%>
						
						<% @myself.followers.each { |follower| %>
						<tr class="vcard person">
						<td class="thumb">
							<a href="/<%= follower.email%>"><img width="48" height="48" src="<%= follower.photo_url%>" class="photo fn"/></a>
						</td>
						<td>
							<strong>
								<a class="url uid" href="/<%= follower.email%>"><span class="nickname"><%= follower.nickname%></span></a>
							</strong>  (<%= follower.email%>)
						</td>
						</tr>
						<% } if request.path_info == '/followers'%>						
					</tbody>
				</table>
			</div>
		</td>
		<td id='side_base' class='column round-right'>
			<div id="side">
				<div class="section" id="profile">
					<div class="user_icon">
						<a href="/<%= @myself.email%>"><img width="48" height="48" src="<%= @myself.photo_url%>" class="side_thumb photo fn"/></a>
						<p id="me_name">
							<%= @myself.nickname%>
						</p>
						<span id='me_email'><%= @myself.email%></span>
					</div>

					<table cellspacing="0" class="stats">
						<tbody><tr>
							<td>
								<a rel="me" id="following_count_link" href="/follows">
									<span class="stats_count numeric" id="following_count"><%= @myself.follows.size%></span>
									<br/>
									<span class="label">Following</span>
								</a>
							</td>
							<td>
								<a id="follower_count_link" href="/followers">
									<span class="stats_count numeric" id="follower_count"><%= @myself.followers.size%></span>
									<br/>
									<span class="label">Followers</span>
								</a>
							</td><td>
								<a href="/sausheong"><span class="stats_count numeric" id="update_count"><%= @myself.chirps.size%></span>
									<br/>
									<span class="label">Chirps</span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</table>